<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="helloAPI.app" />
        <add key="PYTHONPATH" value="C:\Projetos\Personal_GitHub\python-lab\helloAPI\" />
         <add key="WSGI_RESTART_FILE_REGEX" value="(?i).*\.(py|cnf|config)$" />
    </appSettings>
      <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python37\python.exe|C:\Projetos\Personal_GitHub\python-lab\helloAPI\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <modules>
            <add name="FastCgiModule" />
        </modules>
  </system.webServer>
</configuration>