<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python37\python.exe|C:\Python\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <modules>
            <add name="FastCgiModule" preCondition="bitness64" />
        </modules>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
      <add key="WSGI_HANDLER" value="helloAPI.app" />
      <add key="PYTHONPATH" value="C:\Projetos\Personal_GitHub\python-lab\helloAPI" />
      <add key="WSGI_LOG" value="C:\Logs\my_app.log" />
      <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <!-- Optional settings
    <add key="WSGI_LOG" value="C:\Logs\my_app.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
    <add key="DJANGO_SETTINGS_MODULE" value="my_app.settings" />
    <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
    <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" />
    -->
  </appSettings>
</configuration>